aws_region    = "ap-south-2"
project_name  = "task-manager"
app_name      = "Task Manager API"
github_owner  = "ramannagarichakravardhan0608"
github_repo   = "Task-Manager"
github_branch = "main"

# Leave empty for same-origin deployment through the ALB.
allowed_origins = ""
